<p>Здравствуйте <%= @email %>!</p>

<p>Осталось совсем немного для покупки Нашего Компьютера:</p>

<p><%= link_to 'Кликните сюда', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>И подтвердите свой адрес электронной почты</p>
