<div class="d-block mx-auto col-sm-4">
  <div class="card">
  	<div class="card-header"><h1>Новый Тариф</h1></div>

<%= render 'form', taryph: @taryph %>
<div class="card-footer mt-2"><%= link_to 'Назад', :back %></div>

</div>
</div>